*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Caveat', cursive;
   font-family: 'Indie Flower', cursive;
}

.conteiner{
   max-width: 2000px;
   height: 90px;
   background-color:#FFE6E6;
   margin: 0 auto;
   text-align: center;
}
.Logo img{
   height: 90px;
}

header{
   padding: 8px 0;
   position: sticky;
   top: 0;
   background-color: #FFE6E6;
}

.menu-desk{
   float: center;
}

.menu-desk ul{
   position: relative;
   margin-top: 20px;
   text-align: center;
   list-style-type: none;
}

.menu-desk li{
   padding: 0 10px;
   font-weight: lighter;
   display: inline-block;
   font-family: 'Indie Flower', cursive;
   font-size: 20px;
}
.menu-desk a{
   text-decoration: none;
   color: #FFE6E6;

}

.menu-desk li .selected{
   font-weight:bold;
}

.menu-desk a:hover{
   text-decoration: underline;
   color:#FF2626;
}

.clear{
   clear: both;
}

.banner{
   width: 100%;
   height: 956px;
   background: url(../img/arte.webp);
   background-repeat: no-repeat;
   background-size: cover;
   text-align:center;
}

.botao{
   width: 200px;
   text-align: center;
   padding: 16px 32px;
   text-decoration: none;
   background-color: #FF2626;
   font-size: 16px;
   display: inline-block;
   margin-top: 500px;
   color: #FFE6E6;
   font-weight: bold;
   border: 1px solid #BD1616;
   border-radius: 5px;
}

.btn:hover{
   background-color: #FFE6E6;
   border: 2px solid #FF2626;
   color: #FF2626;
}

/*diferencial*/

.diferencial{
   padding: 30px 0px;
   text-align: center;
}

.icones-diferenciais{
   margin-top: 30px;
}

.box-icone-single{
   width: 100%;
   font-size: 23px;
}

.box-icone-single h2 span{
  color: #BD1616; 
  font-size: 40px;
}

.box-icone-single p{
   color: #BD1616;
   font-weight: bold;
   font-size: 15px;
}

.titulo{
   font-family: 'Caveat', cursive;
   font-family: 'Indie Flower', cursive;
   font-size: 27px;
   text-align: center;
}

/*Equipe*/
.equipe{
   padding: 40px 0;
   margin-top: 150px;
}

.equipe-circle{
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
}

.equipe-circle-single{
   width: 20%;
   text-align: center;
   padding: 0 30px;
} 

/*texto*/

.avatar{
   position: relative;
   width: 60%;
   padding-top: 60%;
   margin: 0 auto;
}

.avatar-conteiner{
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 50%;
   background-size: 100% 100%;
}

/*Parallax*/
.parallax img{
   min-height: 450px;
   background-size: cover;
   padding: 30px 0;
   margin-bottom: 200px;
   background-position: center;
}

